<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bootstrap Template Atlas</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="static/img/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="static/css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- AOS -->
    <link rel="stylesheet" href="static/css/aos.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Template Atlas</title>
    <meta name="description" content="Free bootstrap template Atlas">
    <link rel="icon" href="static/img/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="static/css/custom.css">
    <!-- bootstrap.min.css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- AOS -->
    <link rel="stylesheet" href="static/css/aos.css">

  <style>
  .flex-container {
    display: flex;
  }

  .col-sm {
    flex: 1;
    border: 1px solid #000;
    padding: 10px;
  }
</style>


</head>

<body>
    <!-- banner -->
<!--      <section class="col-sm " >-->
<!--          <img src="{{ url_for('webapp') }}"   alt="Upload video">-->

<!--        </section>-->
<!--     <section class="col-sm " >-->
<!--          <img src="{{ url_for('webapp') }}"   alt="Upload video">-->

<!--        </section>-->

<div class="flex-container">
  <section class="col-sm">
    <img src="{{ url_for('webapp') }}" alt="Upload video">
  </section>

  <section class="col-sm">
    <img src="{{ url_for('webapp2') }}" alt="Upload video">
  </section>
</div>
    <!--LAYOUT-->
    <!-- copyright -->
    <div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    ProtecTech © 2023 , hackerit.
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- AOS -->
    <script src="js/aos.js"></script>
    <script>
        AOS.init({
        });
    </script>
</body>

</html>